html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
body {
font-family: sans-serif;
font-size: 1em;
color: grey;
margin:0;
background-color: white;

}
div.header{
border: solid 0px red;
background-color: white;
overflow: hidden;
position: fixed; /* Set the navbar to fixed position */
top: 0; /* position the navbar at the top of the page */
width: 100%; /* Full width */
}
div.container{
border: solid 0px yellow;
position: inherit;
width: 90%;
margin-left: 5%;
margin-top:7.5%;
margin-bottom:95px;
}
@media screen and (max-width: 675px) {
  div.container{
  border: solid 0px yellow;
  position: inherit;
  width: 90%;
  margin-left: 5%;
  margin-top:25%;
  margin-bottom:95px;
  }
}
#container:after {
  content: "";
  display: table;
  clear: both;
}
.list-item{
border: solid 0px green;
width: 100%;
}
div.footer{
border: solid 0px blue;
background-color: white;
position: fixed;
left: 0;
bottom: 0;
width: 100%;

}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: white;
}
a {
	text-decoration: none;
	color: grey;
	outline: 0;
}
li {
float: left;
width: 50%;
}
li.menu-footer  {
margin-top: 15px;
display: inline;
text-align: center;
padding: 20px 0px;
width: 33.33%;
}
li.menu-footer a:hover {
color: black;
}
button.menu-footer  {
margin-top: 15px;
display: inline;
text-align: center;
padding: 20px 0px;
width: 33.33%;
border: none;
background: none;
}
button.menu-footer:hover {
color: black;
}
li.menu a {
display: block;
color: grey;
text-align: center;
padding: 25px 16px;
}
li.menu-item  {
float: right;
display: inline;
width: 25%;
color: grey;
text-align: center;
padding: 25px 0;
text-decoration: none;
}
li.menu-item:hover {
background-color: #b3e0ff;
}
button.menu-item  {
float: right;
display: inline;
width: 25%;
color: grey;
text-align: center;
padding: 25px 0;
text-decoration: none;
border: none;
background: none;
}
button.menu-item:hover {
background-color: #b3e0ff;
}
.item-container{
display: inline-block;
	width: 100%;
	color: grey;
	text-align: center;
	padding: 25px 0;
	text-decoration: none;
	}
	footer {
		width: 100%;
		border: solid 0px pink;
		display: none;
	}
	footer:after {
	  content: "";
	  display: table;
	  clear: both;

	}
.item-footer span{
	display: block;
	float: left;
	border: solid 0px black;
	width: 25%;
	color: grey;
	text-align: center;
	padding: 25px 0;
	text-decoration: none;
}
.date{
float: right;
}
.plus {
	margin: 1.5%;
	border: solid 0.10em grey;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
	padding: 15px 20px;
}
.plus:hover {
	color: lightgreen;
	border: solid 0.10em lightgreen;
}
.moins {
	margin: 1.5%;
	border: solid 0.10em grey;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
	padding: 15px 20px;
}
.moins:hover {
	color: rgba(255, 99, 71, 0.8);
	border: solid 0.10em rgba(255, 99, 71, 0.8);
}
.check {
	padding: 35px 15px;
}
.done{
	margin-right: 22.5%;
	font-size: 1.5em;
	line-height: 0.8em;
}
.done a:hover{
	color: lightgreen;
}
.ligne{
	margin-left:5%;
	margin-right: 5%;
	margin-top: 1%;
	width: 90%;
border-bottom: solid 2px lightgrey;
}
.ligne-item{
	float: left;
	margin-left:5%;
	margin-right: 5%;
	width: 90%;
border-bottom: solid 2px lightgrey;
}
.ligne-footer{
	margin-left:5%;
	margin-right: 5%;
	width: 90%;
border-bottom: solid 2px lightgrey;
}
.ligne-task{
	float: left;
	margin-left:5%;
	margin-right: 5%;
	width: 100%;
border-bottom: solid 2px lightgrey;
}
s.late {
	text-decoration-color: red;
}
.check-late{
	color: red;
	padding: 35px 15px;
}

.next{
	display: none;
}

.next-update{
	display: none;
}

.main{
  display: block;
}

form {}

input {
border:none;
font-size: 1.25em;
color: grey;
padding: 0.5%  5%;

}

h3{
  font-size: 1.5em;
  margin-top: 2.5%;
}

div.panel{
  display: none;
}

